.ld_navbar{
    width: 8rem;
    height: 92.5vh;
    position: fixed;
    background-color:blueviolet;    
}

.ld_navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.ld_nav-item {
    width: 100%;
}