.ld-navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.ld-backbtn {
	border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    margin-left: 5px;
    margin-right: 20px;
}